:root {
  --primary-font-family: "Roboto", sans-serif;
  --secondary-font-family: "Raleway", sans-serif;
  --accent-color: #2196f3;
  --primary-text-color-theme-dark: #ffffff;
  --secondary-text-color-theme-dark: rgba(255, 255, 255, 0.6);
  --primary-text-color-theme-light: #212121;
  --secondary-text-color-theme-light: #757575;
  --primary-background-color: #ffffff;
  --secondary-background-color: #f5f4fa;
  --dark-theme-background-color: #2f303a;
  --logo-text-color-theme-light: #000000;
  --logo-text-color-theme-dark: #ffffff;
  --accent-button-color: #188ce8;
}
body {
  font-family: var(--primary-font-family);
  color: var(--primary-text-color-theme-light);
  background: var(--primary-background-color);
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

/* -------START INDEX-------- */

/* === START COMPONENTS === */
.hero,
.footer {
  background: var(--dark-theme-background-color);
}

.title-section {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.67;
  text-align: center;
  letter-spacing: 0.03em;
}
/* === END COMPONENTS === */

/* === START HEADER ===*/

.logo {
  font-family: var(--secondary-font-family);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--logo-text-color-theme-light);
}

.logo-first-letters {
  color: var(--accent-color);
}

.nav-list-link,
.contact-list-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--primary-text-color-theme-light);
}
.contact-list-link {
  color: var(--secondary-text-color-theme-light);
}
.nav-list-link:hover,
.nav-list-link:focus {
  color: var(--accent-color);
}

.contact-list-link:hover,
.contact-list-link:focus {
  color: var(--accent-color);
}

.active-page {
  color: var(--accent-color);
}

/* === END HEADER === */

/* === START HERO === */
.main-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--primary-text-color-theme-dark);
}

.modal-btn {
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--primary-text-color-theme-dark);
  cursor: pointer;
  background: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}
.modal-btn:hover,
.modal-btn:focus {
  background: var(--accent-button-color);
}
/* === END HERO === */

/* === START ABOUT === */
.about-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primary-text-color-theme-light);
}
.about-description {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color-theme-light);
}
/* === END ABOUT === */

/* === START PORTFOLIO === */
/* === END PORTFOLIO === */

/* === START CONTACTS === */
.contacts {
  background: var(--secondary-background-color);
}
.card {
  background: var(--primary-background-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.contact-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--primary-text-color-theme-light);
}
.contact-description {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color-theme-light);
}
/* === END CONTACTS === */

/* === START FOOTER === */

.logo-footer {
  color: var(--logo-text-color-theme-dark);
}
.address,
.footer-contact-mail,
.footer-contact-number {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color-theme-dark);
}
.footer-contact-address {
  color: var(--logo-text-color-theme-dark);
}
/* === END FOOTER === */

/* -------END INDEX-------- */

/* -------START PORTFOLIO-------- */

/* === START PROJECTS === */
.filter-button {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  background: var(--secondary-background-color);
  border-radius: 4px;
  color: var(--primary-text-color-theme-light);
}
.filter-button:hover,
.filter-button:focus {
  cursor: pointer;
  background: var(--accent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  color: var(--primary-text-color-theme-dark);
}

.projects-card {
  background: #ffffff;
  border: 1px solid #eeeeee;
}
.projects-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--primary-text-color-theme-light);
}
.projects-description {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color-theme-light);
}
/* === END PROJECTS === */

/* -------END PORTFOLIO-------- */
